body{
  background-color: #000000;
}

h1{
  margin-left: 40%;
}

#title{
  font-family: "Lucida Console", "Times New Roman";
  text-align: center;
  margin: 10% 0% 0% 0%;
  font-size: 70px;
  color: #000000;
  -webkit-text-stroke: 2px white;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }  
}