body{
  background-color: #000000;
}

h1{
  margin-left: 40%;
}

#title{
  font-family: "Lucida Console", "Times New Roman";
  text-align: center;
  font-size: 70px;
  color: #000000;
  -webkit-text-stroke: 2px white;
}